Kelfey Lawrence is no longer interested in Patient Case Coordinator at US Tech Solutions.<br><br>
<a href="https://employers.indeed.com/c#candidates/view?id=f3f875a2d0bb">You can update their status here</a>.