        [https://secure.icbdr.com/Images/sharedintl/Email/tabPostJobs.gif] <http://www.careerbuilder.com/JobPoster/Products/PostJobsInfo.aspx>  [https://secure.icbdr.com/Images/sharedintl/Email/tabSearchResumes.gif] <http://www.careerbuilder.com/jobposter/resumes/searchresume.aspx>      [https://secure.icbdr.com/Images/sharedintl/Email/tabMyCareerBuilder.gif] <http://www.careerbuilder.com/Share/Login.aspx>       [https://secure.icbdr.com/Images/sharedintl/Email/tabOurProducts.gif] <http://www.careerbuilder.com/JobPoster/Products>
??
[CareerBuilder.com]<http://www.careerbuilder.com>

Block future applications from this user for this job<https://www.careerbuilder.com/jobposter/blockjobseeker/default.aspx?email=819127881540F43868F0688A19BC80AB@Site.CareerBuilder.com&job_did=J307YW6LRFPDW47JR7C>

You have received an application to your job posted on CareerBuilder. You can respond to this candidate by replying to this email.

Job Information
Job Title: Manufacturing Technician
Location: US-CA-Santa Clara
Job Details: Click Here<http://www.careerbuilder.com/jobseeker/jobs/jobdetails.aspx?job_did=J307YW6LRFPDW47JR7C>

Contact Information
Name: Soleh Amin
Email: aminakhtar2014@gmail.com<mailto:aminakhtar2014@gmail.com>

View Candidate<http://www.careerbuilder.com/JobPoster/Jobs/AppDetails.aspx?JobApplV2_DID=JABP5VY771N0WBS2Y6P9&job_did=J307YW6LRFPDW47JR7C&AppDate=05%2f26%2f2021&strcrit=>
Cover Letter
No cover letter submitted.

Resume

Manufacturing/Production - Assemblers/Fabricators/Operators
Personal Profile
Name:   Soleh Amin
Email:  aminakhtar2014@gmail.com<mailto:aminakhtar2014@gmail.com>
Phone:
Home Location:  US-CA-San Francisco-94109 (Not Specified)
Will Relocate To:
Max Commute:            Travel Preference:
Employed:       No      Most Recent Pay:

Education
School:
Major:
Degree:
Bachelor's Degree       Graduation Date:
School:
Major:
Degree:
None    Graduation Date:

Experience
Recent Job Title:
Experience:     19 Years        Managed Others:
Jobs Last 3 Yrs:                Last Job Tenure:
Security Clearance:     No
Highest Degree:         None    Languages Spoken:       English
Certifications:
Company Information:
Company Name:   ATS Automation Tooling Systems Inc.     Start Date:     July 2010
Job Title:      R&D Technician  End Date:       March 2013

Company Name:   Applied Material Inc.   Start Date:     February 2008
Job Title:      Technical Manufacturing Technician      End Date:       July 2010

Company Name:   Solyndra Inc.   Start Date:     April 2007
Job Title:      Processing Technician   End Date:       February 2008

Company Name:   Actel Corporation       Start Date:     September 1996
Job Title:      Sr. Processing Technician       End Date:       March 2007

Company Name:   Cisco systems   Start Date:     February 1994
Job Title:      Assembly Line Technician        End Date:       June 1996

Desired Position
Job Type:       Full Time
Desired Wage:

Interests
Architecture (No experience)
Construction Engineering - Architecture - Surveying (No experience)

Resume
SOLEH AMIN
2305 Monroe Street, Apt. # 12
Santa Clara, CA. 95050
(408)260-7412
(408)401-6203 cell
soleh_amin786@yahoo.com

OBJECTIVE
Seeking a position for Test Operator/Technician


BACKGROUND SUMMARY
Test technician with more than ten years of experience providing technical skill in the area of
testing using various test platforms as A93000, A83000, and Credence, Ando. Maintenance and
inventory control. Managed all aspects of test floor activities, tester set-up, lot control, Low
yield Analysis. Track all lots data and yield. Prepare MRB data, and Quality rejects, Good interpersonal and communication skills. Team worker and an individual contributor.
Willing to learn new technology.

SUMMARY OF QUALIFICATION
Strong ability understand to carry out new tasks and projects.
Ability to read and understand manufacturing procedures and test procedures.
Ability to maintain and calibrate electronic test equipment.
Ability to understand, analyze and draw conclusion from test result and present these in the
test reports.
Good communication skills, oral and written skills.
Ability to work independently and in a team.
Computer skills including MS Word, Excel and Power point.

PROFESSIONAL EXPERIENCE

ATS Automation Tooling Systems Inc.
07/2010- 03/2013
Cambridge On, Canada.

R&D Technician.
Responsible for engineering project implementing test process under the engineering
supervision copper tapping on solar test panels.
Make a manual frame and test and measurement and temperature baking in the furnace 3 to 4
days then test again go the system level test collect data and calculate results performance
flash test due to requirement

Applied Material Inc.
Santa Clara, CA.
02/2008- 07/2010
Technical Manufacturing Technician
Responsibilities for qualifying wet processes by implementing statistical process control and
transferring the SOP's to Manufacturing. Reliability test Solar panel open sun light test
measurement, temperature, current, leakage test, flash test, current Voltage off efficiency
measurement. Calibration test, collect data. Implementing substrate wet chemical cleaning
including substrate conditioning and wet etching process experimentation for thin film
silicon solar cells.
Familiarity with different substrates desired, and thin film and standard semiconductor.



Solyndra Inc. Fremont, CA.
04/2007 - 02/2008
Processing Technician
Responsibilities for Processing ILDS Solar Tubes mechanical, and vacuum
assemblies used in process equipment Perform maintenance on various
vacuum support equipment such as motors, pumps, hydraulics, ion gauges,
controllers, etc.
Experience with large scale machine assembly.
Understand basic electronics circuits, cooling systems, and vacuum
systems utilized in integrating equipment for vacuum coating technology
Knowledge of semiconductor manufacturing equipment, high vacuum
components, and manufacturing principles.
Operate small hand tools such as drills, saws, hole punches and other
equipment
Troubleshoot various technical difficulties (vacuum leaks, electronic
malfunctions, etc. promoted team work and cross trained other coworker.


Actel Corporation, Mountain View, CA. Sep. 1996 - Mar.2007
Sr. Processing Technician
Responsible for Testing of Integrated Circuits ( IC ) at all levels.
Commercial, Industrial, and Military test production in process and burn
in process
Post reliability testing parts, after HOTL, HAST, ACLV, HTST, ESD, and
Latch-up tests, post programming testing of the anti-fuse FPGAs.
Programming anti fuse based Field Programmable Gate Arrays ( FPGAs ).
Follow all Test Specs and Flows to test the ICs.
Visual Inspection and co-planarity, and marking permanency tests.
Track all testing and completing all lots for finish goods.
Follow daily test schedules and Train other operators.

Cisco systems, San Jose, CA.
Feb. 1994 - June 1996
Assembly Line Technician,
Responsibilities include:
Assembly of Catalyst 2900 series XL Switches, Cisco 2500 Series routers
and Cisco AS5200 Access servers.
Visual inspection and Culpability issues.
Track all testing and completing all lots for finish goods.
Worked on the failure analysis on the parts returned from the customer
and gathered data.

Education: Bachelor of science degree.
Associate Diploma in Mechanical Technology

Certified for plus earth quake disaster.

Status: US Citizen.







 ***** DISCLAIMER: The information contained in this email or its attachments is confidential and may be legally privileged. It is intended solely for the addressee and access to this email or attachments by anyone else is unauthorized. Any views or opinions presented are solely those of the author and do not necessarily represent those of US Tech Solutions. If you are not the intended recipient, any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful. If you have received this email in error, please notify the sender immediately by reply or telephone and ensure all copies are deleted from your system. US Tech Solutions delivers global contingent workforce solutions and detailed privacy policy of US Tech Solutions can be found on the website at www.ustechsolutions.com *****
<BR><!--employer header start-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="white" text="#333333" link="#000099" vlink="#666666" alink="black">
<table width="700" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td colspan="3">
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td><img src="https://secure.icbdr.com/Images/pixel.gif" width="1" height="1" hspace="10"></td>
<td><a href="http://www.careerbuilder.com/JobPoster/Products/PostJobsInfo.aspx"><img src="https://secure.icbdr.com/Images/sharedintl/Email/tabPostJobs.gif" height="25" border="0"></a></td>
<td><a href="http://www.careerbuilder.com/jobposter/resumes/searchresume.aspx"><img src="https://secure.icbdr.com/Images/sharedintl/Email/tabSearchResumes.gif" height="25" border="0"></a></td>
<td><a href="http://www.careerbuilder.com/Share/Login.aspx"><img src="https://secure.icbdr.com/Images/sharedintl/Email/tabMyCareerBuilder.gif" height="25" border="0"></a></td>
<td><a href="http://www.careerbuilder.com/JobPoster/Products"><img src="https://secure.icbdr.com/Images/sharedintl/Email/tabOurProducts.gif" width="87" height="25" border="0"></a></td>
<td><img src="https://secure.icbdr.com/Images/pixel.gif" width="1" height="1" hspace="10"></td>
</tr>
</tbody>
</table>
</td>
</tr>
??
<tr>
<td width="700" colspan="3"><a href="http://www.careerbuilder.com"><img src="http://img.icbdr.com/Images/sharedintl/Email/jp_app_top2.gif" width="700" height="68" border="0" alt="CareerBuilder.com"></a></td>
</tr>
<tr>
<td width="9" bgcolor="#000066"><img src="https://secure.icbdr.com/Images/pixel.gif" width="1" height="1" vspace="4" hspace="4"></td>
<td width="682">
<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tbody>
<tr>
<td><font face="verdana,arial,helvetica" size="2"><!--employer header end-->
<table border="0" cellpadding="2" cellspacing="0">
<tbody>
<tr>
<td align="right"><font face="verdana,arial,helvetica" size="2"><a href="https://www.careerbuilder.com/jobposter/blockjobseeker/default.aspx?email=819127881540F43868F0688A19BC80AB@Site.CareerBuilder.com&amp;job_did=J307YW6LRFPDW47JR7C">Block future applications
 from this user for this job</a> </font><br>
<br>
</td>
</tr>
<tr>
<td><font face="verdana,arial,helvetica" size="2">You have received an application to your job posted on CareerBuilder. You can respond to this candidate by replying to this email.<br>
&nbsp;</font></td>
</tr>
<tr bgcolor="#e7e7e7">
<td><font face="verdana,arial,helvetica" size="2"><b>Job Information</b> </font></td>
</tr>
<tr>
<td><font face="verdana,arial,helvetica" size="2">Job Title: Manufacturing Technician<br>
Location: US-CA-Santa Clara<br>
Job Details: <a href="http://www.careerbuilder.com/jobseeker/jobs/jobdetails.aspx?job_did=J307YW6LRFPDW47JR7C">
Click Here</a><br>
&nbsp;</font></td>
</tr>
<tr bgcolor="#e7e7e7">
<td><font face="verdana,arial,helvetica" size="2"><b>Contact Information</b> </font>
</td>
</tr>
<tr>
<td><font face="verdana,arial,helvetica" size="2">Name: Soleh Amin<br>
Email: <a href="mailto:aminakhtar2014@gmail.com">aminakhtar2014@gmail.com</a><br>
&nbsp;</font></td>
</tr>
<tr>
<td>
<table bgcolor="#09a0db">
<tbody>
<tr>
<td style="padding:5px;"><a style="text-decoration: none; font-family:Arial Bold;,Helvetica,sans-serif; font-size: 15px; color: #fff; border-radius: 4px;" href="http://www.careerbuilder.com/JobPoster/Jobs/AppDetails.aspx?JobApplV2_DID=JABP5VY771N0WBS2Y6P9&amp;job_did=J307YW6LRFPDW47JR7C&amp;AppDate=05%2f26%2f2021&amp;strcrit=">View
 Candidate</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
</tr>
<tr bgcolor="#e7e7e7">
<td><font face="verdana,arial,helvetica" size="2"><b>Cover Letter</b> </font></td>
</tr>
<tr>
<td><font face="verdana,arial,helvetica" size="2">No cover letter submitted.<br>
&nbsp;</font></td>
</tr>
<tr bgcolor="#e7e7e7">
<td><font face="verdana,arial,helvetica" size="2"><b>Resume</b> </font></td>
</tr>
<tr>
<td><font face="verdana,arial,helvetica" size="2"><br>
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="640"><font size="2" face="arial,helvetica">
<table width="638" border="0" cellpadding="1" cellspacing="0" bgcolor="#FF6500">
<tbody>
<tr>
<td width="638"><font face="arial,helvetica" size="3" color="white"><b>Manufacturing/Production - Assemblers/Fabricators/Operators</b></font></td>
</tr>
<tr>
<td width="638">
<table width="638" border="0" cellpadding="11" cellspacing="0" bgcolor="#ffffcc">
<tbody>
<tr>
<td width="638"><font face="arial,helvetica" size="3"><b>Personal Profile</b></font>
<br>
<table width="616" border="0" cellpadding="1" cellspacing="0" bgcolor="black">
<tbody>
<tr>
<td width="616">
<table width="614" border="0" cellpadding="0" cellspacing="0" bgcolor="white">
<tbody>
<tr>
<td width="614">
<table width="614" border="0" cellpadding="1" cellspacing="0">
<tbody>
<tr>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Name:&nbsp;</b></font></td>
<td width="432" colspan="3"><font face="arial,helvetica" size="2">Soleh Amin&nbsp;</font></td>
</tr>
<tr bgcolor="#F1F1F1">
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Email:&nbsp;</b></font></td>
<td width="432" colspan="3"><font face="arial,helvetica" size="2"><a href="mailto:aminakhtar2014@gmail.com">aminakhtar2014@gmail.com</a></font></td>
</tr>
<tr>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Phone:&nbsp;</b></font></td>
<td width="432" colspan="3"><font face="arial,helvetica" size="2"></font>&nbsp;</td>
</tr>
<tr bgcolor="#F1F1F1">
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Home Location:&nbsp;</b></font></td>
<td width="432" colspan="3"><font face="arial,helvetica" size="2">US-CA-San Francisco-94109 (Not Specified)</font></td>
</tr>
<tr>
<td width="132" align="right" valign="top"><font face="arial,helvetica" size="2"><b>Will Relocate To:&nbsp;</b></font></td>
<td width="432" colspan="3"><font face="arial,helvetica" size="2"></font></td>
</tr>
<tr bgcolor="#F1F1F1">
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Max Commute:&nbsp;</b></font></td>
<td width="170"><font face="arial,helvetica" size="2">&nbsp;</font></td>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Travel Preference:&nbsp;</b></font></td>
<td width="130"><font face="arial,helvetica" size="2"></font></td>
</tr>
<tr>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Employed:&nbsp;</b></font></td>
<td width="170"><font face="arial,helvetica" size="2">No</font></td>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Most Recent Pay:&nbsp;</b></font></td>
<td width="130"><font face="arial,helvetica" size="2"></font></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br>
<!-- Education --><font face="arial,helvetica" size="3"><b>Education</b></font><br>
<table id="Table18" cellspacing="0" cellpadding="1" width="616" bgcolor="black" border="0">
<tbody>
<tr>
<td width="616">
<table id="Table19" cellspacing="0" cellpadding="0" width="614" bgcolor="white" border="0">
<tbody>
<tr>
<td width="614">
<table>
<tbody>
<tr style="padding-bottom:5px;margin-bottom:5px;">
<td width="200" align="left" style="margin-left:10px;padding-left: 10px;vertical-align: top;">
<b>School:</b><br>
</td>
<td width="150" align="left" style="margin-left:10px;padding-left: 10px;vertical-align: top;">
<b>Major:</b><br>
</td>
<td width="120" align="left" style="margin-left:10px;padding-left: 10px;vertical-align: top;">
<b>Degree:</b><br>
Bachelor's Degree</td>
<td width="150" align="left" style="margin-left: 10px; padding-left: 10px; vertical-align: top;">
<b>Graduation Date:</b><br>
</td>
</tr>
<tr style="padding-bottom:5px;margin-bottom:5px;">
<td width="200" align="left" style="margin-left:10px;padding-left: 10px;vertical-align: top;">
<b>School:</b><br>
</td>
<td width="150" align="left" style="margin-left:10px;padding-left: 10px;vertical-align: top;">
<b>Major:</b><br>
</td>
<td width="120" align="left" style="margin-left:10px;padding-left: 10px;vertical-align: top;">
<b>Degree:</b><br>
None</td>
<td width="150" align="left" style="margin-left: 10px; padding-left: 10px; vertical-align: top;">
<b>Graduation Date:</b><br>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- End of education --><br>
<font face="arial,helvetica" size="3"><b>Experience</b></font> <br>
<table width="616" border="0" cellpadding="1" cellspacing="0" bgcolor="black">
<tbody>
<tr>
<td width="616">
<table width="614" border="0" cellpadding="0" cellspacing="0" bgcolor="white">
<tbody>
<tr>
<td width="614">
<table width="614" border="0" cellpadding="1" cellspacing="0">
<tbody>
<tr>
<td width="132" align="right" valign="top" width="132"><font face="arial,helvetica" size="2"><b>Recent Job Title:&nbsp;</b></font></td>
<td width="432" colspan="3"><font face="arial,helvetica" size="2"></font></td>
</tr>
<tr bgcolor="#F1F1F1">
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Experience:&nbsp;</b></font></td>
<td width="170"><font face="arial,helvetica" size="2">19 Years</font></td>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Managed Others:&nbsp;</b></font></td>
<td width="130"><font face="arial,helvetica" size="2"></font></td>
</tr>
<tr>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Jobs Last 3 Yrs:&nbsp;</b></font></td>
<td width="170"><font face="arial,helvetica" size="2"></font></td>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Last Job Tenure:&nbsp;</b></font></td>
<td width="130"><font face="arial,helvetica" size="2"></font></td>
</tr>
<tr bgcolor="#F1F1F1">
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Security Clearance:&nbsp;</b></font></td>
<td width="170"><font face="arial,helvetica" size="2">No</font></td>
<td width="132" align="right"></td>
<td width="130"></td>
</tr>
<tr>
<td width="132" align="right" valign="top"><font face="arial,helvetica" size="2"><b>Highest Degree:&nbsp;</b></font></td>
<td width="170" valign="top"><font face="arial,helvetica" size="2">None</font></td>
<td width="132" align="right" valign="top"><font face="arial,helvetica" size="2"><b>Languages Spoken:&nbsp;</b></font></td>
<td width="130"><font face="arial,helvetica" size="2">English</font></td>
</tr>
<tr bgcolor="#F1F1F1">
<td width="132" align="right" valign="top"><font face="arial,helvetica" size="2"><b>Certifications:&nbsp;</b></font></td>
<td width="432" colspan="3"><font face="arial,helvetica" size="2"></font></td>
</tr>
<tr>
<td valign="top" align="right" width="132"></td>
<td width="432" colspan="3"></td>
</tr>
<tr>
<td valign="top" colspan="4"><font face="arial,helvetica" size="2"><b>Company Information:</font></b></td>
</tr>
<tr>
<td valign="top" align="right" colspan="4">
<table style="FONT-SIZE: smaller; FONT-FAMILY: arial,helvetica">
<tbody>
<tr>
<td width="135" align="right" class="lbl">Company Name:</td>
<td width="250" style="padding-left:10px;" class="itm">ATS Automation Tooling Systems Inc.</td>
<td width="130" align="right" class="lbl">Start Date:</td>
<td style="padding-left:10px;" width="235" class="itm">July 2010</td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Job Title:</td>
<td width="250" style="padding-left:10px;" class="itm">R&amp;D Technician</td>
<td width="130" align="right" class="lbl">End Date:</td>
<td width="235" style="padding-left:10px;" class="itm">March 2013</td>
</tr>
<tr>
<td><img src="https://secure." width="1" height="10"></td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Company Name:</td>
<td width="250" style="padding-left:10px;" class="itm">Applied Material Inc.</td>
<td width="130" align="right" class="lbl">Start Date:</td>
<td style="padding-left:10px;" width="235" class="itm">February 2008</td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Job Title:</td>
<td width="250" style="padding-left:10px;" class="itm">Technical Manufacturing Technician</td>
<td width="130" align="right" class="lbl">End Date:</td>
<td width="235" style="padding-left:10px;" class="itm">July 2010</td>
</tr>
<tr>
<td><img src="https://secure." width="1" height="10"></td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Company Name:</td>
<td width="250" style="padding-left:10px;" class="itm">Solyndra Inc.</td>
<td width="130" align="right" class="lbl">Start Date:</td>
<td style="padding-left:10px;" width="235" class="itm">April 2007</td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Job Title:</td>
<td width="250" style="padding-left:10px;" class="itm">Processing Technician</td>
<td width="130" align="right" class="lbl">End Date:</td>
<td width="235" style="padding-left:10px;" class="itm">February 2008</td>
</tr>
<tr>
<td><img src="https://secure." width="1" height="10"></td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Company Name:</td>
<td width="250" style="padding-left:10px;" class="itm">Actel Corporation</td>
<td width="130" align="right" class="lbl">Start Date:</td>
<td style="padding-left:10px;" width="235" class="itm">September 1996</td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Job Title:</td>
<td width="250" style="padding-left:10px;" class="itm">Sr. Processing Technician</td>
<td width="130" align="right" class="lbl">End Date:</td>
<td width="235" style="padding-left:10px;" class="itm">March 2007</td>
</tr>
<tr>
<td><img src="https://secure." width="1" height="10"></td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Company Name:</td>
<td width="250" style="padding-left:10px;" class="itm">Cisco systems</td>
<td width="130" align="right" class="lbl">Start Date:</td>
<td style="padding-left:10px;" width="235" class="itm">February 1994</td>
</tr>
<tr>
<td width="135" align="right" class="lbl">Job Title:</td>
<td width="250" style="padding-left:10px;" class="itm">Assembly Line Technician</td>
<td width="130" align="right" class="lbl">End Date:</td>
<td width="235" style="padding-left:10px;" class="itm">June 1996</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br>
<font face="arial,helvetica" size="3"><b>Desired Position</b></font> <br>
<table width="616" border="0" cellpadding="1" cellspacing="0" bgcolor="black">
<tbody>
<tr>
<td width="616">
<table width="614" border="0" cellpadding="0" cellspacing="0" bgcolor="white">
<tbody>
<tr>
<td width="614">
<table width="614" border="0" cellpadding="1" cellspacing="0">
<tbody>
<tr>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Job Type:&nbsp;</b></font></td>
<td width="432"><font face="arial,helvetica" size="2">Full Time</font></td>
</tr>
<tr>
<td width="132" align="right"><font face="arial,helvetica" size="2"><b>Desired Wage:&nbsp;</b></font></td>
<td width="432"><font face="arial,helvetica" size="2"></font></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br>
<font face="arial,helvetica" size="3"><b>Interests</b></font> <br>
<table width="616" border="0" cellpadding="1" cellspacing="0" bgcolor="black">
<tbody>
<tr>
<td width="616">
<table width="614" border="0" cellpadding="5" cellspacing="0" bgcolor="white">
<tbody>
<tr>
<td width="614"><font face="arial,helvetica" size="2">Architecture (No experience)<br>
Construction Engineering - Architecture - Surveying (No experience)</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br>
<font face="arial,helvetica" size="3"><b>Resume</b></font> <br>
<div id="HTMLResumeContainer" style="text-align: center;">
<div style="width: 616px; text-align: left; margin: 0px auto; background-color: #FFFFFF; padding: 20px 10px; border: 1px solid #000000">
<div class="Section1">SOLEH AMIN<br>
2305 Monroe Street, Apt. # 12<br>
Santa Clara, CA. 95050<br>
(408)260-7412<br>
(408)401-6203 cell<br>
soleh_amin786@yahoo.com<br>
<br>
OBJECTIVE<br>
Seeking a position for Test Operator/Technician<br>
<br>
<br>
BACKGROUND SUMMARY<br>
Test technician with more than ten years of experience providing technical skill in the area of<br>
testing using various test platforms as A93000, A83000, and Credence, Ando. Maintenance and<br>
inventory control. Managed all aspects of test floor activities, tester set-up, lot control, Low<br>
yield Analysis. Track all lots data and yield. Prepare MRB data, and Quality rejects, Good interpersonal and communication skills. Team worker and an individual contributor.<br>
Willing to learn new technology.<br>
<br>
SUMMARY OF QUALIFICATION<br>
Strong ability understand to carry out new tasks and projects.<br>
Ability to read and understand manufacturing procedures and test procedures.<br>
Ability to maintain and calibrate electronic test equipment.<br>
Ability to understand, analyze and draw conclusion from test result and present these in the
<br>
test reports.<br>
Good communication skills, oral and written skills.<br>
Ability to work independently and in a team.<br>
Computer skills including MS Word, Excel and Power point.<br>
<br>
PROFESSIONAL EXPERIENCE<br>
<br>
ATS Automation Tooling Systems Inc.<br>
07/2010- 03/2013<br>
Cambridge On, Canada.<br>
<br>
R&amp;D Technician.<br>
Responsible for engineering project implementing test process under the engineering
<br>
supervision copper tapping on solar test panels.<br>
Make a manual frame and test and measurement and temperature baking in the furnace 3 to 4
<br>
days then test again go the system level test collect data and calculate results performance
<br>
flash test due to requirement<br>
<br>
Applied Material Inc. <br>
Santa Clara, CA.<br>
02/2008- 07/2010<br>
Technical Manufacturing Technician<br>
Responsibilities for qualifying wet processes by implementing statistical process control and
<br>
transferring the SOP's to Manufacturing. Reliability test Solar panel open sun light test<br>
measurement, temperature, current, leakage test, flash test, current Voltage off efficiency
<br>
measurement. Calibration test, collect data. Implementing substrate wet chemical cleaning
<br>
including substrate conditioning and wet etching process experimentation for thin film<br>
silicon solar cells. <br>
Familiarity with different substrates desired, and thin film and standard semiconductor.<br>
<br>
<br>
<br>
Solyndra Inc. Fremont, CA. <br>
04/2007 - 02/2008<br>
Processing Technician<br>
Responsibilities for Processing ILDS Solar Tubes mechanical, and vacuum<br>
assemblies used in process equipment Perform maintenance on various<br>
vacuum support equipment such as motors, pumps, hydraulics, ion gauges,<br>
controllers, etc.<br>
Experience with large scale machine assembly.<br>
Understand basic electronics circuits, cooling systems, and vacuum<br>
systems utilized in integrating equipment for vacuum coating technology<br>
Knowledge of semiconductor manufacturing equipment, high vacuum<br>
components, and manufacturing principles.<br>
Operate small hand tools such as drills, saws, hole punches and other<br>
equipment<br>
Troubleshoot various technical difficulties (vacuum leaks, electronic<br>
malfunctions, etc. promoted team work and cross trained other coworker.<br>
<br>
<br>
Actel Corporation, Mountain View, CA. Sep. 1996 - Mar.2007<br>
Sr. Processing Technician<br>
Responsible for Testing of Integrated Circuits ( IC ) at all levels.<br>
Commercial, Industrial, and Military test production in process and burn<br>
in process<br>
Post reliability testing parts, after HOTL, HAST, ACLV, HTST, ESD, and<br>
Latch-up tests, post programming testing of the anti-fuse FPGAs.<br>
Programming anti fuse based Field Programmable Gate Arrays ( FPGAs ).<br>
Follow all Test Specs and Flows to test the ICs.<br>
Visual Inspection and co-planarity, and marking permanency tests.<br>
Track all testing and completing all lots for finish goods.<br>
Follow daily test schedules and Train other operators.<br>
<br>
Cisco systems, San Jose, CA.<br>
Feb. 1994 - June 1996<br>
Assembly Line Technician,<br>
Responsibilities include:<br>
Assembly of Catalyst 2900 series XL Switches, Cisco 2500 Series routers<br>
and Cisco AS5200 Access servers.<br>
Visual inspection and Culpability issues.<br>
Track all testing and completing all lots for finish goods.<br>
Worked on the failure analysis on the parts returned from the customer<br>
and gathered data.<br>
<br>
Education: Bachelor of science degree.<br>
Associate Diploma in Mechanical Technology<br>
<br>
Certified for plus earth quake disaster.<br>
<br>
Status: US Citizen.</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</font></td>
<td width="10"><img src="https://secure." width="1" hspace="3" height="1"></td>
<td width="150" valign="top"></td>
</tr>
</tbody>
</table>
<br>
<br>
&nbsp;</font></td>
</tr>
</tbody>
</table>
<!--employer footer start--></font></td>
</tr>
</tbody>
</table>
</td>
<td width="9" bgcolor="#000066"><img src="https://secure.icbdr.com/Images/pixel.gif" width="1" height="1" vspace="4" hspace="4"></td>
</tr>
<tr>
<td width="9" bgcolor="#000066"><img src="https://secure.icbdr.com/Images/pixel.gif" width="1" height="1" vspace="4" hspace="4"></td>
</tr>
</tbody>
</table>
<style>@media print{ #_t { background-image: url('http://www.careerbuilder.com/jobposter/appviewedpixel.aspx?eAccountDID=TlhzNnBZT2NtNjlJWmRTK3hKTjdNeTJCV0FoQkVna3FGYVBVUWMyWm51OWFYQVZSL2hqbjE1US9JbmxwZnNtZzJlcy8yY2FvY1JnQjh1V0NOTytqR0tqYm92VkhoQjRsV0M4NW10alFIb1hUZkZDTXVRbkExb0xERXlQOVloQVc=&eJobApplDID=TlhzNnBZT2NtNi9Eck9KVWdFRXNzaUpBSXkxUk1yTXoxZG4wRHQ2ejdxOS9nbldKS0hBSkdVazUycnZuNTd5TXpoTWtsRHNFZmpZZmtrRTl1QjRGYTd2c213OG1yZEozMHJobzdFUExGWkNDcGVSV0gvSXMwVjZyNjFjZlBOWnI=');}} div.OutlookMessageHeader {background-image:url('http://www.careerbuilder.com/jobposter/appviewedpixel.aspx?eAccountDID=TlhzNnBZT2NtNjlJWmRTK3hKTjdNeTJCV0FoQkVna3FGYVBVUWMyWm51OWFYQVZSL2hqbjE1US9JbmxwZnNtZzJlcy8yY2FvY1JnQjh1V0NOTytqR0tqYm92VkhoQjRsV0M4NW10alFIb1hUZkZDTXVRbkExb0xERXlQOVloQVc=&eJobApplDID=TlhzNnBZT2NtNi9Eck9KVWdFRXNzaUpBSXkxUk1yTXoxZG4wRHQ2ejdxOS9nbldKS0hBSkdVazUycnZuNTd5TXpoTWtsRHNFZmpZZmtrRTl1QjRGYTd2c213OG1yZEozMHJobzdFUExGWkNDcGVSV0gvSXMwVjZyNjFjZlBOWnI=')} table.moz-email-headers-table {background-image:url('http://www.careerbuilder.com/jobposter/appviewedpixel.aspx?eAccountDID=TlhzNnBZT2NtNjlJWmRTK3hKTjdNeTJCV0FoQkVna3FGYVBVUWMyWm51OWFYQVZSL2hqbjE1US9JbmxwZnNtZzJlcy8yY2FvY1JnQjh1V0NOTytqR0tqYm92VkhoQjRsV0M4NW10alFIb1hUZkZDTXVRbkExb0xERXlQOVloQVc=&eJobApplDID=TlhzNnBZT2NtNi9Eck9KVWdFRXNzaUpBSXkxUk1yTXoxZG4wRHQ2ejdxOS9nbldKS0hBSkdVazUycnZuNTd5TXpoTWtsRHNFZmpZZmtrRTl1QjRGYTd2c213OG1yZEozMHJobzdFUExGWkNDcGVSV0gvSXMwVjZyNjFjZlBOWnI=')} blockquote #_t {background-image:url('http://www.careerbuilder.com/jobposter/appviewedpixel.aspx?eAccountDID=TlhzNnBZT2NtNjlJWmRTK3hKTjdNeTJCV0FoQkVna3FGYVBVUWMyWm51OWFYQVZSL2hqbjE1US9JbmxwZnNtZzJlcy8yY2FvY1JnQjh1V0NOTytqR0tqYm92VkhoQjRsV0M4NW10alFIb1hUZkZDTXVRbkExb0xERXlQOVloQVc=&eJobApplDID=TlhzNnBZT2NtNi9Eck9KVWdFRXNzaUpBSXkxUk1yTXoxZG4wRHQ2ejdxOS9nbldKS0hBSkdVazUycnZuNTd5TXpoTWtsRHNFZmpZZmtrRTl1QjRGYTd2c213OG1yZEozMHJobzdFUExGWkNDcGVSV0gvSXMwVjZyNjFjZlBOWnI=')} #MailContainerBody #_t {background-image:url('http://www.careerbuilder.com/jobposter/appviewedpixel.aspx?eAccountDID=TlhzNnBZT2NtNjlJWmRTK3hKTjdNeTJCV0FoQkVna3FGYVBVUWMyWm51OWFYQVZSL2hqbjE1US9JbmxwZnNtZzJlcy8yY2FvY1JnQjh1V0NOTytqR0tqYm92VkhoQjRsV0M4NW10alFIb1hUZkZDTXVRbkExb0xERXlQOVloQVc=&eJobApplDID=TlhzNnBZT2NtNi9Eck9KVWdFRXNzaUpBSXkxUk1yTXoxZG4wRHQ2ejdxOS9nbldKS0hBSkdVazUycnZuNTd5TXpoTWtsRHNFZmpZZmtrRTl1QjRGYTd2c213OG1yZEozMHJobzdFUExGWkNDcGVSV0gvSXMwVjZyNjFjZlBOWnI=')}</style>
<div id="_t"></div>
<img src="http://www.careerbuilder.com/jobposter/appviewedpixel.aspx?eAccountDID=TlhzNnBZT2NtNjlJWmRTK3hKTjdNeTJCV0FoQkVna3FGYVBVUWMyWm51OWFYQVZSL2hqbjE1US9JbmxwZnNtZzJlcy8yY2FvY1JnQjh1V0NOTytqR0tqYm92VkhoQjRsV0M4NW10alFIb1hUZkZDTXVRbkExb0xERXlQOVloQVc=&amp;eJobApplDID=TlhzNnBZT2NtNi9Eck9KVWdFRXNzaUpBSXkxUk1yTXoxZG4wRHQ2ejdxOS9nbldKS0hBSkdVazUycnZuNTd5TXpoTWtsRHNFZmpZZmtrRTl1QjRGYTd2c213OG1yZEozMHJobzdFUExGWkNDcGVSV0gvSXMwVjZyNjFjZlBOWnI=" width="1" height="1" border="0">
<style>@media print{ #_t { background-image: url('https://v0qeeqod.emltrk.com/v0qeeqod?p&d=%%emailaddr%%');}} div.OutlookMessageHeader {background-image:url('https://v0qeeqod.emltrk.com/v0qeeqod?f&d=%%emailaddr%%')} table.moz-email-headers-table {background-image:url('https://v0qeeqod.emltrk.com/v0qeeqod?f&d=%%emailaddr%%')} blockquote #_t {background-image:url('https://v0qeeqod.emltrk.com/v0qeeqod?f&d=%%emailaddr%%')} #MailContainerBody #_t {background-image:url('https://v0qeeqod.emltrk.com/v0qeeqod?f&d=%%emailaddr%%')}</style>
<div id="_t"></div>
<img src="https://v0qeeqod.emltrk.com/v0qeeqod?d=%%emailaddr%%" width="1" height="1" border="0"><!--employer footer end--> ***** DISCLAIMER: The information contained in this email or its attachments is confidential and may be legally privileged. It is intended
 solely for the addressee and access to this email or attachments by anyone else is unauthorized. Any views or opinions presented are solely those of the author and do not necessarily represent those of US Tech Solutions. If you are not the intended recipient,
 any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful. If you have received this email in error, please notify the sender immediately by reply or telephone and ensure all copies
 are deleted from your system. US Tech Solutions delivers global contingent workforce solutions and detailed privacy policy of US Tech Solutions can be found on the website at www.ustechsolutions.com *****
</body>
</html>
